@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
}

:root{
    --ff--main : 'Roboto', sans-serif;
    --ff--secondary :  'Barlow', sans-serif;
    --clr--primary: #669bbc;
    --clr--secondary: #003049;
    --clr--neutral: #fdf0d5;
    --clr--accentOne: #c1121f;
    --clr--accentTwo: #780000;
}


body{
    height: 100vh;
    background-color: var(--clr--primary);
    line-height: 1.33rem;
    font-family: var(--ff--main);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

header{
    padding: 2rem;
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 2rem;
}

.bookcards{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

@media only screen and (min-width: 600px) {
    .bookcards {
      flex-flow: row wrap;
    }
  }
.bookcard{
    height: 300px;
    width: 400px;
    padding: 1rem;
    border: 3px solid var(--clr--secondary); 
    border-radius: 8px;
    font-size: 1rem;
    font-weight: 500;
    display: grid;

}
.bookcard> *{
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    
}
.bookcard div{
    display: flex;
    /* border: 1px solid green; */
    

}
.bookcard div>*{
    /* border: 1px solid red; */
    flex: 1;
}
.bookcard div > div + div {
    color: var(--clr--accentTwo);
    font-size: 1.3rem;
}


footer{
    background-color: var(--clr--secondary);
    font-family: var(--ff--secondary);
    color: var(--clr--neutral);
    margin-top: 2rem;
    padding: 2rem;
    text-align: center;
    word-spacing: 0.1rem;
    letter-spacing: 0.1rem;
    /* position: absolute;
    bottom: 0; */
}
footer a{
    text-decoration: none;
    color: var(--clr--accentOne);
}
